@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
    font-family: 'rayada'; 
    src: url('/fonts/rayada.ttf') format('truetype');
}

@font-face {
    font-family: 'pixel'; 
    src: url('/fonts/pixel.ttf') format('truetype');
}

@font-face {
    font-family: 'alta'; 
    src: url('/fonts/alta.ttf') format('truetype');
}

@font-face {
    font-family: 'round'; 
    src: url('/fonts/round.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Lato', sans-serif;
}

.container-containers{
    display: flex;
    flex-direction: column;
    padding-top: auto;
}

.container-clock {
    display: none; 
    text-align: center;
}

#time {
    font-family: 'pixel';
    color: rgb(0, 0, 0);
    font-size: 5em;
    animation: rainbow 2s linear infinite;
}

#date {
    font-family: 'alta'; 
    font-size: 4.5em;
    animation: glow 1s ease-in infinite alternate;
}

#message {
    font-family: 'round'; 
    color: rgb(7, 7, 7);
    font-size: 2em;
    animation: glow 1s ease-out infinite alternate;
    text-transform: uppercase;
}

.container-keys {
    display: none;
    text-align: center;
    padding: 10px;
    border: 1px solid lightsalmon;
    background-color: aliceblue;
}

.menu {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    top: 20px; 
    left: 20px;
    transition: opacity 0.3s ease;
}

.menu:hover {
    pointer-events: all;
}

.label {
    font-family: 'round'; 
    font-size: 48px;
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
    vertical-align: middle;
}

.spacer {
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    animation: rainbow linear 2s infinite;
}

.spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #000000;
    height: 1px;
    width: 0%;
    transition: width 0.2s ease;
    transition-delay: 0.7s;
}

.item {
    font-family: 'Rayada'; 
    font-size: 36px;
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition-delay: 0;
    vertical-align: middle; /* Centrar verticalmente */
}

span {
    transition: color 0.5s ease;
}

.item:hover span {
    color: #ff0000;
}

.menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
}

.menu:hover .item {
    opacity: 1;
    top: 0px;
    transform: translateY(0);
}

.menu:hover #clock {
    transition-delay: 0.1s; /* Reloj */
}

.menu:hover #keys {
    transition-delay: 0.2s; /* Contraseñas */
}

.menu:hover #links {
    transition-delay: 0.3s; /* Enlaces */
}

.menu:hover #meteo {
    transition-delay: 0.4s; /* Meteo */
}



/* Animaciones */
@keyframes glow {
    0% { text-shadow: 0 0 10px #ffffff; }
    100% { text-shadow: 0 0 20px #00ffff, 0 0 30px #ff00ff, 0 0 40px #ffff00; }
}

@keyframes rainbow {
    0% { color: #ff0000; }
    20% { color: #ff8000; }
    40% { color: #ffff00; }
    60% { color: #00ff00; }
    80% { color: #0000ff; }
    100% { color: #ff0000; }
}

.icon {
    height: 50px;
    width: 50px;
}

.icon:hover {
    transform: scale(1.1);
}

