@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
    font-family: 'rayada'; 
    src: url('/fonts/rayada.ttf') format('truetype');
}

@font-face {
    font-family: 'pixel'; 
    src: url('/fonts/pixel.ttf') format('truetype');
}

@font-face {
    font-family: 'alta'; 
    src: url('/fonts/alta.ttf') format('truetype');
}

@font-face {
    font-family: 'round'; 
    src: url('/fonts/round.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Lato', sans-serif;
}

.container-containers {
    max-height: 75%;
    max-width: 75% ; 
    margin: 0 auto; 
    padding: 20px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-containers .container-clock,
.container-containers .container-keys,
.container-containers .container-meteo,
.container-containers .container-links {
    display: none;
    flex: 1; 
    margin: 10px; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #f8f8f8; 
    text-align: center; 
}

.container-clock h1 {
    animation:  rainbow 1s ease-in-out infinite alternate;
}

.container-meteo {
    max-width: 95%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}

#forecast-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5px;
    margin: 10px;
    overflow-x: auto; /* Scroll lateral  */
}

#forecast-list li {
    margin-right: 10px;
}

#forecast-list p {
    margin: 0;
}


.menu {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    top: 20px; 
    left: 20px;
    transition: opacity 0.3s ease;
}

.menu:hover {
    pointer-events: all;
}

.label {
    font-family: 'round'; 
    font-size: 48px;
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
    vertical-align: middle;
}

.spacer {
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #000000;
    height: 1px;
    width: 0%;
    transition: width 0.2s ease;
    transition-delay: 0.7s;
}

.item {
    font-family: 'Rayada'; 
    font-size: 36px;
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition-delay: 0;
    vertical-align: middle; 
}

span {
    transition: color 0.5s ease;
}

.item:hover span {
    color: #ff0000;
}

.menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
}

.menu:hover .item {
    opacity: 1;
    top: 0px;
    transform: translateY(0);
}

.menu:hover #clock {
    transition-delay: 0.1s; /* Reloj */
}

.menu:hover #keys {
    transition-delay: 0.2s; /* Contraseñas */
}

.menu:hover #links {
    transition-delay: 0.3s; /* Enlaces */
}

.menu:hover #meteo {
    transition-delay: 0.4s; /* Meteo */
}

/* Animaciones */
@keyframes glow {
    0% { text-shadow: 0 0 10px #ffffff; }
    100% { text-shadow: 0 0 20px #00ffff, 0 0 30px #ff00ff, 0 0 40px #ffff00; }
}

@keyframes rainbow {
    0% { color: #ff0000; }
    20% { color: #ff8000; }
    40% { color: #ffff00; }
    60% { color: #00ff00; }
    80% { color: #0000ff; }
    100% { color: #ff0000; }
}

.icon {
    height: 50px;
    width: 50px;
}

.icon:hover {
    transform: scale(1.1);
}

/* Desing Inputs */

#nameInput, #linkInput, #lengthKey {
    margin: 5px;
    width: 200px;
    border: 2px solid transparent;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}
#nameInput, #linkInput, #lengthKey:hover,
#nameInput, #linkInput, #lengthKey:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 30px rgb(0,140,255);
    background-color: white;
}

/* Button Generate keys */

#btnGenerate, #saveLinkButton {
    width: 210px;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}

#btnGenerate, #saveLinkButton {
    background: rgb(0,140,255);
    box-shadow: 0 0 12px rgb(0,140,255);
}
#btnGenerate, #saveLinkButton:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 30px rgb(0,140,255);
}

#linksList {
    text-transform: uppercase;
    list-style: none;
}

#linksList a {
    text-decoration: none;
}
#crossList {
    padding: 3px;
    background-color: rgb(0,140,255);
    border-radius: 3px;
    border: 0.2px;
    color:white; 
}